ion-card.cards-list-demo ion-card-header {
  color: map-get($colors, blue);
  font-size: 10pt;
}


.ticketframe{
  border-radius:5px;
  border:1px;
  padding:5px;
  text-align: center;
}

.item-md {

}

.bg{
	background-color:blue;
}
